html, body {
  height: 100%;
  overflow: hidden; /* hide scrollbars, we create our own */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fcfcfc;
}

.scroll-card {
  width: 100%;
  border-bottom: 1px solid #CCC;
  padding: 1.6rem;
}

.scroll-card:hover {
  background-color: #f0f0f0;
}

.scroll-card.selected {
  background-color: rgba(0, 150, 136, 0.75);
  color: white;
}

a.scroll-card-link {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  float: left;
  background-color: white;
  margin-top: -20px;
  width: 33.333%;
}

.profile {
  padding: 3.2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90vh;
}

.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
